/rebar

/tmp/
/releases

/deps/goldrush/
/deps/lager/
/deps/node_package/

/bin/*.boot
/bin/*.script

/lib/*/ebin/
/lib/*/priv/mibs/

/lib/yajler/
/lib/yolf/

/erts-[0-9].[0-9]/
/erts-[0-9].[0-9].[0-9]/
/erts-[0-9].[0-9][0-9].[0-9]/
/erts-[0-9].[0-9].[0-9].[0-9]/

.eunit
*.o
*.beam
*.plt
