%% -*- mode: erlang -*-
{deps,
 [
  {lager,        ".*", {git, "https://github.com/basho/lager.git",         {tag, "master"}}},
  {node_package, ".*", {git, "https://github.com/yoonka/node_package.git"}},
  {yajler,       ".*", {git, "https://github.com/yoonka/yajler.git",       {branch, "master"}}}
 ]
}.
