%% -*- mode: erlang -*-
{deps,
 [
  {lager,        ".*", {git, "git://github.com/basho/lager.git",         {tag, "3.0.1"}}},
  {node_package, ".*", {git, "git://github.com/yoonka/node_package.git", {branch, "1.4"}}},
  {yajler,       ".*", {git, "git://github.com/yoonka/yajler.git",       {branch, "master"}}}
 ]
}.
