%% -*- mode: erlang -*-
%% See https://github.com/erlang/otp/blob/maint/lib/reltool/src/reltool.hrl
%% for default filters when using profile embedded

{builderl,
 [
  {default_repo_base, "https://github.com/yoonka"},
  {boot_version, "hbd-0.0.1"},
  {setup_config, {"cmd", deploy, cmd_config}},
  {release_types,
   [{hbd, "humbundee", "hbd", hbd_setup, 0}]},
  {default_nodes, ["hbd"]}
 ]
}.

{config,
 {sys,
  [{lib_dirs, ["lib", "deps"]},
   {incl_cond, exclude},

   {app, kernel,       [{incl_cond, include}]},
   {app, stdlib,       [{incl_cond, include}]},
   {app, sasl,         [{incl_cond, include}]},
   {app, mnesia,       [{incl_cond, include}]},
   {app, deploy,       [{incl_cond, include}]},
   {app, builderl,     [{incl_cond, include}]},

   {rel, "cmd", "hbd-0.0.1",
    [kernel,
     stdlib,
     sasl,
     {mnesia,          load},
     deploy
    ]},

   {boot_rel, "cmd"},
   {profile, embedded}
  ]}
}.

{config,
 {sys,
  [{lib_dirs, ["lib", "deps"]},
   {incl_cond, exclude},

   {app, kernel,       [{incl_cond, include}]},
   {app, stdlib,       [{incl_cond, include}]},
   {app, sasl,         [{incl_cond, include}]},
   {app, compiler,     [{incl_cond, include}]},
   {app, goldrush,     [{incl_cond, include}]},
   {app, lager,        [{incl_cond, include}]},
   {app, syntax_tools, [{incl_cond, include}]},
   {app, yolf,         [{incl_cond, include}]},
   {app, yajler,       [{incl_cond, include}]},
   {app, mnesia,       [{incl_cond, include}]},
   {app, humbundee,    [{incl_cond, include}]},

   {rel, "humbundee", "hbd-0.0.1",
    [kernel,
     stdlib,
     sasl,
     yolf,
     yajler,
     mnesia,
     humbundee
    ]},

   {boot_rel, "humbundee"},
   {profile, embedded}
  ]}
}.
